.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1100px;
    background: $card-bg;
    margin: 80px 24px 50px 24px;
    border-radius: 10px;

    .card-image {
        border-radius: 10px 10px 0 0;
        background-color: $accent;

        .img {
            border-radius: 10px 10px 0 0;
            width: 100%;
            object-fit: cover;
            mix-blend-mode: multiply;
            opacity: 0.75;
        }
    }

    .card-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: $white;
        padding: 30px;

        .card-text {
            font-family: 'Inter', sans-serif;
            text-align: center;

            .card-title {
                font-size: 1.8rem;
                line-height: 45px;
                margin-bottom: 20px;
            }

            .highlight {
                color: $accent;
            }

            .text {
                color: $white_h;
                line-height: 24px;
            }
        }

        .card-stats {

            .stat-block {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding-top: 35px;

                h3 {
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    letter-spacing: 1.8px;
                    color: $white_h;
                }
            }
        }
    }

}

@import '_media';
